
.content{
    position: relative;
    width: 428px;
    height: 800px;
    background-color: #B2FFB0;
    margin-left: auto;
    margin-right: auto;
}


.title1{
    margin: 0;
    margin-bottom: 20px;
    padding-top: 50px;
    font-family: 'Parisienne';
    text-align: center;
    font-size: 50px;
}

.welcome1{
    margin-top: 40px;
    font-family: 'Comfortaa' ;
    text-align: center;
    font-size: 30px;
}

.check{
    padding-bottom: 20px;
}

.formlogin{
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    padding: 70px;
}


.form-content{
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.form-content input{
    padding: 10px;
    width: 200px;

}

body{
    margin: 0;
}

.signupb{
    width: 130%;
}

.signup1{
    font-family: 'Comfortaa';
    font-size: 15px;
}

 
.submit {
    margin-top: 20px;
    margin-left: 10px;
    background-color: #04AA6D;
    border: none;
    color: white;
    cursor: pointer;
}


