
.content{
    margin: 0;
    position: relative;
    width: 428px;
    height: 900px;
    background-color: #B2FFB0;
    margin-left: auto;
    margin-right: auto;
}

.text{
    padding-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Comfortaa';
    font-size: 15px;
}

a{
    text-decoration: none;
}

.paymentMethod{
    width: 200px;
    height: 100px;
}

.payment{
    margin-left: 35px;
    width: 350px;
    border: 1px solid black;
    background-color: white;
}

.cancelPay{
    width: 200px;
    height: 60px;
    margin-left: 120px;
    border: 1px solid black;
    font-size: 20;
    margin-bottom: 30px;
}

.pay{
    width: 200px;
    height: 60px;
    margin-left: 120px;
    border: 1px solid black;
    font-size: 20;
}

