
.content{
    position: relative;
    width: 428px;
    height: 800px;
    background-color: #B2FFB0;
    margin-left: auto;
    margin-right: auto;
}

.contentrecipe{
    position: relative;
    width: 428px;
    height: 928px;
    background-color: #B2FFB0;
    margin-left: auto;
    margin-right: auto;
}

.title1{
    margin: 0;
    margin-bottom: 20px;
    padding-top: 50px;
    font-family: 'Parisienne';
    text-align: center;
    font-size: 50px;
}

.input1{
    padding: 20px;
    width: 300px;
    margin-left: 20px;
}
.title2{
    padding-top: 20px;
    font-family: 'Comfortaa';
    font-size: 18px;
    margin-left: 20px;
}

.title3{
    font-family: 'Comfortaa';
    font-size: 15px;
    margin-left: 20px;
    padding-top: 10px;
}
.welcome1{
    margin-top: 40px;
    font-family: 'Comfortaa' ;
    text-align: center;
    font-size: 30px;
}

.check{
    padding-bottom: 20px;
}

.form1{
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    padding: 70px;
}
.form2{
    margin-left: auto;
    margin-right: auto;
    width: 120%;
    padding: 100px;
}

.form-content{
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.form-content input{
    padding: 10px;
    width: 200px;

}
.form-content1 input{
    padding: 10px;
    width: 200px;

}
body{
    margin: 0;
}


.imgs1{
    margin-top: 25px;
    margin-bottom: 15px;
    width: 120px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.imgs1s{
    
    margin-bottom: 15px;
    width: 120px;
    height: auto;
    margin-left: 0px;
}
.imgs2{
width: 100px;   
}

.imgs3{
    width: 380px;
    height: auto;
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.signupb{
    width: 130%;
}

.signup1{
    font-family: 'Comfortaa';
    font-size: 15px;
}

.form-input {
    width:300px;
    padding:20px;
    background:#fff;
    margin-left: 20px;
    cursor: pointer;
  }

.form-input img {
    width: 80%;
    height: auto;
    display:none;
  }

  input[type=file]{
    cursor:pointer;
  }

 .submit {
    margin-top: 20px;
    margin-left: 20px;
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
  }
  
  textarea {
    margin-left: 20px;
    resize: none;
  }